.room {
    background-image: url("/images/dining-room/dining-room.jpeg");
}

#doors, #painting1, #painting2, #painting3, #painting4, #drawers, #corner-desk, #pot {
    position: fixed;
}

#doors, #drawers, #corner-desk, #pot:hover {
    cursor: pointer;
}

#doors {
    height: 36%;
    width: 15%;
    top: 40%;
    left: 24%;
}

#painting1 {
    height: 28%;
    width: 13%;
    top: 24%;
    left: 5%;
}

#painting2 {
    height: 17%;
    width: 5%;
    top: 34%;
    left: 42%;
}

#painting3 {
    height: 14.5%;
    width: 6%;
    top: 37%;
    right: 24%;
}

#painting4 {
    height: 20%;
    width: 8%;
    top: 31%;
    right: 1%;
}

#drawers {
    height: 15%;
    width: 15%;
    top: 55%;
    right: 0%;
}

#corner-desk {
    height: 26%;
    width: 9%;
    top: 54%;
    left: 1%;
}

#pot {
    height: 10%;
    width: 5%;
    top: 57%;
    right: 32%;
}

#clue > p {
    top: 45%;
    left: 35%;
    transform: translate(0, -50%);
}

#zombie {
    padding: 10% 36% 0% 36%;
}