@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Long+Cang&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

#zombie-man {
    display: flex;
    justify-content:center;
    visibility: hidden;
}

#zombie-man >p {
    font-family: Rock Salt;
    font-size: 2em;
    position: fixed;
    color:crimson;
    top: 2%;
    z-index: 2;
}

#zombie-man >a {
    position: fixed;
    top: 3%;
    z-index: 2;
}

a > button {
    font-family: Long Cang;
    font-size: 1.7em;
    padding: 5px 15px;
}

#back {
    visibility: hidden;
}

#zombie1 {
    position: fixed;
    bottom: 0%;
    height: 80%;
    padding: 9% 30% 0% 30%;
    background-color: rgba(0, 0, 0, 0.637);
}

#zombie-woman {
    visibility: hidden;
}

#zombie-dog {
    visibility: hidden;
}

#clue2 {
    visibility: hidden;
}

#clue3 {
    visibility: hidden;
}

.text-box {
    display: flex;
    justify-content:center;
}

#timer {
    padding: 10px;
}

#timer > i {
    font-family: Orbitron;
    text-transform:none;
    color: blanchedalmond;
    font-weight: bold;
    font-style: normal;   
    font-size: 2em;
    color: red;
    padding: 3px;
    text-shadow: 1px 1px 7px red;
}

span {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    position: fixed;
    bottom: 5%;
    color: whitesmoke;
    text-shadow: 2px 2px 4px black;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 7px 10px;
    border-radius: 12px;
}
