.room {
    background-image: url("/images1/rooms/hall.jpg");
}

#door1, #door2, #door3, #door4, #piano, #shadow {
    position: fixed;
}

#door1, #door3, #door4, #piano, #shadow:hover {
    cursor: pointer;
}

#door1 {
    top: 20%;
    left: 7%;
    height: 80%;
    width: 11%;
}

#piano {
    top: 65%;
    left: 22%;
    height: 30%;
    width: 13%;
}

#door2 {
    top: 50%;
    left: 32%;
    height: 40%;
    width: 8%;
}

#door3 {
    top: 52%;
    right: 46.5%;
    height: 35%;
    width: 8%;
}

#door4 {
    top: 25%;
    right: 7%;
    height: 75%;
    width: 13%;
}

#shadow {
    top: 17%;
    right: 27%;
    height: 45%;
    width: 7%;
}

#clue > p {
    top: 45%;
    left: 35%;
    transform: translate(0, -50%);
}