@import url('https://fonts.googleapis.com/css2?family=Long+Cang&display=swap');

html {
    background-image: url("/images1/outside.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    display: flex;
    justify-content:center;
}

div {
    position: fixed;
    top: 7%;
    right: 10%;
    width: 450px;
    height: 450px;
}

p {
    font-family: Long Cang;
    font-size: 2.5em;
    color: whitesmoke;
    text-align: center;
}

a {
    position: fixed;
    bottom: 5%;
}

button {
    font-family: Long Cang;
    font-size: 2em;
    padding: 5px 15px;
}