.room {
    background-image: url("/images1/rooms/library.jpg");
}

#lights, #table, #window, #bookshelf1, #bookshelf2, #mess-floor, #books {
    position: fixed;
}

#table, #bookshelf2, #window, #mess-floor, #books:hover {
    cursor: pointer;
}

#lights {
    height: 21%;
    width: 15%;
    top: 3%;
    left: 40%;
}

#table {
    height: 16%;
    width: 22%;
    bottom: 16%;
    left: 27%;
}

#window {
    height: 47%;
    width: 6%;
    top: 23%;
    right: 18%;
}

#bookshelf1 {
    height: 60%;
    width: 6%;
    top: 14%;
    left: 8%;
}

#bookshelf2 {
    height: 34%;
    width: 6%;
    top: 31%;
    left: 32%;
}

#mess-floor {
    height: 14%;
    width: 16%;
    bottom: 4%;
    right: 23%;
}

#books {
    height: 4%;
    width: 4%;
    bottom: 33%;
    right: 42%;
}

#clue > p {
    top: 45%;
    left: 35%;
    transform: translate(0, -50%);
}

#back {
    position: fixed;
    padding: 8px;
    bottom: 3%;
    right: 2%;
}
